@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #ecf0f1;
  --text-color: #34495e;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--shadow-color);
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

#note-form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--shadow-color);
  margin-bottom: 2rem;
}

#note-title,
#note-content {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

#note-content {
  height: 100px;
  resize: vertical;
}

button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #27ae60;
}

.note {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--shadow-color);
  padding: 1rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.note:hover {
  transform: translateY(-5px);
}

.note-content {
  flex-grow: 1;
  margin-bottom: 1rem;
}

.note h3 {
  margin: 0 0 0.5rem 0;
  color: var(--primary-color);
}

.note p {
  margin: 0 0 0.5rem 0;
}

.note-dates {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  color: #7f8c8d;
  margin-top: 0.5rem;
}

.note-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ecf0f1;
  padding-top: 0.5rem;
}

.note-done {
  display: flex;
  align-items: center;
}

.note-done input[type='checkbox'] {
  margin-right: 0.5rem;
}

.edit-note,
.delete-note {
  padding: 0.3rem 0.7rem;
  font-size: 0.9rem;
}

.edit-note {
  background-color: var(--primary-color);
}

.edit-note:hover {
  background-color: #2980b9;
}

.delete-note {
  background-color: #e74c3c;
}

.delete-note:hover {
  background-color: #c0392b;
}
